PORT=3000
HOST=0.0.0.0

# Android/Termux:
# GALLERY_ROOT=/storage/emulated/0
#
# Render/Linux:
# GALLERY_ROOT=./gallery
GALLERY_ROOT=/storage/emulated/0

HISTORY_PASSWORD=change-this-history-password
